@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: whitesmoke;
}

#bio {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  text-align: left;
  margin: auto;
  padding-top: 42px;
  width: 150mm;
}

a {
  color: rgb(22, 139, 193);
  text-decoration: none;
}

a:active {
  color: inherit;
  text-decoration: none;
}

p,
span,
h2,
h3 {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(77, 76, 76);
}

p. span {
  line-height: normal;
  font-size: 16px;
}

p {
  margin-bottom: 0px;
}

h2,
h3 {
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: 40px;
}

code {
  font-size: 14px;
  border-radius: 3px;
  background-color: rgb(211, 189, 189);
  padding: 2px;
}

#connect-outer {
  display: flex;
  flex-direction: column;
  align-items: left;
}

#connect-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3px;
}

#connect-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
