<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Haad Bhutta</title>
    <link type="text/css" href="/css/styles.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <script type="text/javascript" src="/javascript/client.js"></script>
  </head>
  <body>
    <div id="bio">

      <h2>
        Who am I?
      </h2>
      <p>
        Hi! My name is <b>Haad Bhutta</b>, you may know me as <b>hbhutta</b> from GitHub. I am an aspiring software engineer.
        I really like coding; specifically with JavaScript recently. I am a problem-solver, innovator and self-starter.
      </p>
      <p>
        Since 27 August 2022, I have written <span id="git-stats"><b>X lines of code across Y commits in Z repositories</b></span>.
       </p>

       <h2>About this webpage</h2>
       <p>
        I created this website to display the total lines of code I have written across all the commits I have ever made 
        across all my GitHub repositories. If you are interested in what's going on behind
        the scenes of my webpage, have a look at the
        <span class="box to-right">
        <a
          href="https://github.com/hbhutta/website-2025/tree/main/"
          >source code</a
        >
        </span>
      </p>
        </div>
      </div>
    </div>
  </body>
</html>
