<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link type="text/css" href="/css/output.css" rel="stylesheet" />
    <script type="text/javascript" src="/javascript/client.js"></script>
  </head>
  <body>
    <div class="bg-red-400 text-center justify-center items-center">
      <h1>Haad Bhutta</h1>
      <p id="git-stats" class="text-xl font-extrabold">
        Haad has written X lines of code over Y commits in Z repositories since
        August, 2022
      </p>
      <p>
        These are real numbers. If you are interested in how I got these stats,
        have a look at the <a href="https://github.com/hbhutta/website-2025/blob/main/public/javascript/client.js">source code</a> of this
        website
      </p>
    </div>
  </body>
</html>
